In [7]:
!pip install google-cloud google-cloud-bigquery google-auth

Requirement already satisfied: google-cloud in /opt/anaconda3/lib/python3.12/site-packages (0.34.0)
Requirement already satisfied: google-cloud-bigquery in /opt/anaconda3/lib/python3.12/site-packages (3.27.0)
Requirement already satisfied: google-auth in /opt/anaconda3/lib/python3.12/site-packages (2.37.0)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.11.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (2.24.0)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=2.4.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (2.7.2)
Requirement already satisfied: packaging>=20.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (24.1)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.3 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (2.32.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth) (4.9)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core<3.0.0dev,>=2.11.1->google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.66.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core<3.0.0dev,>=2.11.1->google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (5.29.2)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core<3.0.0dev,>=2.11.1->google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.25.0)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.69.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.69.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-resumable-media<3.0dev,>=2.0.0->google-cloud-bigquery) (1.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /opt/anaconda3/lib/python3.12/site-packages (from pyasn1-modules>=0.2.1->google-auth) (0.4.8)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil<3.0dev,>=2.7.3->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2024.12.14)

In [79]:
import pandas as pd

In [8]:
!pip install db-dtypes

Requirement already satisfied: db-dtypes in /opt/anaconda3/lib/python3.12/site-packages (1.3.1)
Requirement already satisfied: packaging>=17.0 in /opt/anaconda3/lib/python3.12/site-packages (from db-dtypes) (24.1)
Requirement already satisfied: pandas>=0.24.2 in /opt/anaconda3/lib/python3.12/site-packages (from db-dtypes) (2.2.2)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from db-dtypes) (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in /opt/anaconda3/lib/python3.12/site-packages (from db-dtypes) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.24.2->db-dtypes) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.24.2->db-dtypes) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.24.2->db-dtypes) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.24.2->db-dtypes) (1.16.0)

In [9]:
from google.auth import load_credentials_from_file
from google.cloud.bigquery import Client

In [10]:
credentials, project_id = load_credentials_from_file("/Users/thyneminhtetaungaung/Music Project All file /service_account.json")

In [11]:
credentials

In [12]:
type(credentials)

google.oauth2.service_account.Credentials

In [13]:
project_id

'da26-python'

In [14]:
# load data from BigQuery
client = Client(
    project = project_id,
    credentials = credentials
)

In [15]:
type(client)

google.cloud.bigquery.client.Client

In [16]:
query = "SELECT * FROM `da26-python.music_data.tracks`"

In [17]:
load_job = client.query(query)

In [18]:
data = load_job.to_dataframe()

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [19]:
def load_data(table):
    query = f"SELECT * FROM `da26-python.music_data.{table}`"
    load_job = client.query(query)
    data = load_job.to_dataframe()
    return data

In [20]:
artists = load_data("artists")

In [21]:
artists.head()

,artist_id,name,popularity,followers
0,13UwRaADQI0yTqjPBDkk6d,J-Shin (Featuring LaTocha Scott of Xscape),0,253
1,2LmsYeN3MzzZ9zhuZhNyqO,A*Teens,0,10
2,5Q25oFANw7zA3kD2DPaJ8D,The 2000s Karaoke Band,0,26
3,7u7ORV6MVjId1jfJwMdakL,2000s Karaoke Band,0,27
4,0LyfQWJT6nXafLPZqxe9Of,Various Artists,0,2542450

In [22]:
audio_features = load_data("audio_features")

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [74]:
audio_features.head(10)

,track_id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,3lZpvPprN56RWqDqrKy9vl,0.000,0.532,3,-7.447,1,0.0000,0.976000,0.000000,0.0000,0.0000,0.000,0
1,7rLDARtJALM7QdiJDMXW7m,0.250,0.215,8,-13.676,0,0.0370,0.632000,0.071700,0.4010,0.0746,174.824,3
2,4TbNLKRLKlxZDlS0pu7Lsy,0.250,0.136,10,-12.162,1,0.0370,0.673000,0.000157,0.1070,0.0981,118.086,4
3,6LtHYDgYHRCHoKK3snfr2w,0.375,0.133,0,-10.624,0,0.0352,0.651000,0.000000,0.0695,0.1920,131.721,4
4,60RFlt48hm0l4Fu0JoccOl,0.375,0.428,0,-7.387,1,0.0290,0.109000,0.000000,0.1050,0.3610,78.516,4
5,23bEisUvcSmIELLy4CMhkN,0.375,0.750,5,-4.048,1,0.0328,0.345000,0.000009,0.0943,0.5650,178.636,3
6,0M3ZIWNcizkhYFvn6RuCEz,0.375,0.556,11,-7.196,1,0.0410,0.400000,0.000000,0.0956,0.3970,111.827,4
7,41RxdTltq3TM5AbOLHVR28,0.375,0.856,11,-6.113,0,0.0780,0.000053,0.000682,0.2380,0.6720,117.112,4
8,3kXH9BQq0TyNliiP1MIE6N,0.500,0.748,0,-5.927,1,0.0364,0.002910,0.000000,0.1120,0.4480,148.009,4
9,44Du2IM1bGY7dicmLfXbUs,0.500,0.449,0,-10.977,1,0.4420,0.422000,0.000008,0.1150,0.1040,144.206,1

In [24]:
audio_features.sample(10)

,track_id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
4047,1kXlRnMZ8nvUuCYkfxn7iw,0.718,0.593,1.0,-8.563,0.0,0.1270,0.000649,0.000000,0.0806,0.154,149.980,4.0
6673,1DWZUa5Mzf2BwzpHtgbHPY,0.794,0.320,1.0,-12.920,0.0,0.1730,0.853000,0.134000,0.1120,0.241,174.088,4.0
3436,73xXDeBMlC5cdvWoOLWVLo,0.885,0.543,2.0,-6.338,1.0,0.2000,0.031100,0.000000,0.1540,0.430,99.026,4.0
9606,3a94TbZOxhkI9xuNwYL53b,0.417,0.682,1.0,-5.071,1.0,0.0295,0.026700,0.000669,0.1090,0.351,105.542,4.0
2152,3YmHNOqtLsyg2nTlrapWcd,0.300,0.513,4.0,-6.135,1.0,0.0304,0.283000,0.000004,0.1380,0.194,138.314,3.0
10250,5pz158yrIuE2EmhafSlZDf,0.917,0.233,5.0,-7.453,1.0,0.2920,0.002010,0.000012,0.1210,0.406,134.694,4.0
8242,7qje9qxLncMESiPeI27SAn,0.555,0.713,11.0,-4.549,1.0,0.0911,0.084500,0.000000,0.7120,0.725,79.934,4.0
3221,3sKqHE7BGJ5mnRyk37XVbX,0.386,0.682,9.0,-6.358,1.0,0.0788,0.643000,0.000000,0.3140,0.489,172.257,4.0
1227,64BbK9SFKH2jk86U3dGj2P,0.458,0.795,0.0,-3.265,1.0,0.0574,0.003160,0.000202,0.0756,0.513,123.229,4.0
7433,0XqGHtlXsdVW2n8HJ3KyeE,0.740,0.564,8.0,-6.710,1.0,0.0688,0.012600,0.000000,0.1260,0.129,158.114,4.0

In [25]:
audio_features.tail(10)

,track_id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
10773,1wva1IlWLDNLgwipUWcmjy,0.756,0.829,11.0,-3.973,1.0,0.0682,0.00300,0.000035,0.0578,0.504,120.163,4.0
10774,5Odq8ohlgIbQKMZivbWkEo,0.881,0.592,2.0,-4.898,1.0,0.0324,0.61900,0.000013,0.0901,0.719,101.058,4.0
10775,3wMUvT6eIw2L5cZFG1yH9j,0.881,0.663,2.0,-6.822,1.0,0.0827,0.00683,0.000000,0.1420,0.586,81.374,4.0
10776,0GR7iJLhj80KD5LkA14ZRn,0.881,0.546,2.0,-7.566,1.0,0.1200,0.00296,0.000005,0.2260,0.276,140.032,4.0
10777,7nDtDxsKJ3fho8xEmU65JJ,0.881,0.830,7.0,-4.563,1.0,0.1720,0.01440,0.007710,0.0626,0.765,98.793,4.0
10778,2Ec33AVlkTTq8BHFgBTdQs,0.881,0.457,7.0,-8.191,0.0,0.1560,0.03270,0.000000,0.2310,0.296,136.970,4.0
10779,3KixNgUEaDtrKJVzdqjU5q,0.881,0.636,7.0,-4.629,1.0,0.2870,0.00606,0.000000,0.1110,0.715,163.949,4.0
10780,4ANFPo7dzs2DdPuONXC9bp,0.881,0.549,10.0,-5.589,1.0,0.2720,0.00910,0.000000,0.1370,0.202,144.019,4.0
10781,5wfllwdjglyQislkskYLBv,0.881,0.442,11.0,-6.278,0.0,0.0651,0.48000,0.000009,0.1200,0.803,138.014,4.0
10782,3EikYy40GMSp8l5mDV6IQo,0.881,0.623,1.0,-9.662,1.0,0.1190,0.25700,0.000002,0.0964,0.744,88.953,4.0

In [26]:
chart_positions = load_data("chart_positions")
chart_positions.head(10)

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   chart_week  list_position                track_id
0  2021-07-10             42  000TJlEJQ3nafsm1hBWpoj
1  2003-07-19             60  003FTlCpBTM4eSqYSWPv4H
2  2003-07-26             60  003FTlCpBTM4eSqYSWPv4H
3  2003-08-02             64  003FTlCpBTM4eSqYSWPv4H
4  2003-07-12             66  003FTlCpBTM4eSqYSWPv4H
5  2003-08-09             66  003FTlCpBTM4eSqYSWPv4H
6  2003-06-28             67  003FTlCpBTM4eSqYSWPv4H
7  2003-07-05             67  003FTlCpBTM4eSqYSWPv4H
8  2003-06-21             71  003FTlCpBTM4eSqYSWPv4H
9  2003-08-16             85  003FTlCpBTM4eSqYSWPv4H

In [83]:
tracks = load_data("tracks")
tracks.head(10)

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,track_id,name,duration_ms,release_date,album_type,explicit
0,5CMVGP24paZIukljDj0iWc,Jingle Bells (with The Ken Lane Singers),156666,1945,compilation,False
1,25leEEaz1gIpp7o21Fqyjo,Here Comes Santa Claus (Right Down Santa Claus...,150266,1947,album,False
2,1dtIaSlyrLI04sqYa8nLyN,Rudolph the Red-Nosed Reindeer,186733,1947,album,False
3,4PS1e8f2LvuTFgUs1Cn3ON,The Christmas Song (Merry Christmas To You),192160,1962,album,False
4,4PS1e8f2LvuTFgUs1Cn3ON,The Christmas Song (Merry Christmas To You),192160,1962,album,False
5,4PS1e8f2LvuTFgUs1Cn3ON,The Christmas Song (Merry Christmas To You),192160,1962,album,False
6,5ASM6Qjiav2xPe7gRkQMsQ,Sleigh Ride,181266,1963,compilation,False
7,46pF1zFimM582ss1PrMy68,Christmas (Baby Please Come Home),166453,1963,compilation,False
8,7uyivkbdc8iH8wyBGBhlXV,One More Chance,229000,1979,compilation,False
9,2uX5f3x2cObov0iDAPln4o,Song of the South,190800,1980,album,False

In [28]:
tracks_artists_mapping = load_data("tracks_artists_mapping")
tracks_artists_mapping.head(10)

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

                artist_id                track_id
0               artist_id                track_id
1  00FQb4jTyendYWaN8pK0wa  4zmKGsrXjLmljb5fTaBTot
2  00FQb4jTyendYWaN8pK0wa  6GGtHZgBycCgGBUhZo81xe
3  00FQb4jTyendYWaN8pK0wa  22DH8NChecsgPxDjA4pqer
4  00FQb4jTyendYWaN8pK0wa  7JVNRVPeXFAOdMrxOHNjVv
5  00FQb4jTyendYWaN8pK0wa  24jvD83UgLmrdGjhWTFslY
6  00FQb4jTyendYWaN8pK0wa  2nMeu6UenVvwUktBCpLMK9
7  00FQb4jTyendYWaN8pK0wa  6PUIzlqotEmPuBfjbwYWOB
8  00FQb4jTyendYWaN8pK0wa  5Y6nVaayzitvsD5F7nr3DV
9  00FQb4jTyendYWaN8pK0wa  4VSg5K1hnbmIg4PwRdY6wV

In [29]:
audio_features.shape

(10783, 13)

In [72]:
audio_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10776 entries, 0 to 10775
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_id          10776 non-null  object
 1   danceability      10776 non-null  float64
 2   energy            10776 non-null  float64
 3   key               10776 non-null  int64
 4   loudness          10776 non-null  float64
 5   mode              10776 non-null  int64
 6   speechiness       10776 non-null  float64
 7   acousticness      10776 non-null  float64
 8   instrumentalness  10776 non-null  float64
 9   liveness          10776 non-null  float64
 10  valence           10776 non-null  float64
 11  tempo             10776 non-null  float64
 12  time_signature    10776 non-null  int64
dtypes: float64(9), int64(3), object(1)
memory usage: 1.1+ MB

In [71]:
# change data type from floats to int for three column - Key, Mode, Time-Signature
audio_features["key"]= audio_features["key"].astype(int)
audio_features["mode"]= audio_features["mode"].astype(int)
audio_features["time_signature"]= audio_features["time_signature"].astype(int)

In [ ]:
# checking null data (for all column)
audio_features.loc[audio_features.isnull().any(axis = 1)]

,track_id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# drop NA for 7 rows 
audio_features.dropna(inplace = True)

AttributeError: 'NoneType' object has no attribute 'reset_index'

In [50]:
# Getting new dataset_without NA
audio_features.reset_index(drop = True, inplace = True)

In [84]:
#Cleaning Tracks file / Check info first 
tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11070 entries, 0 to 11069
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   track_id      11070 non-null  object
 1   name          11070 non-null  object
 2   duration_ms   11070 non-null  Int64
 3   release_date  11070 non-null  object
 4   album_type    11070 non-null  object
 5   explicit      11070 non-null  boolean
dtypes: Int64(1), boolean(1), object(4)
memory usage: 465.0+ KB

In [ ]:
#checking date and count value in Release_date 
tracks["release_date"].value_counts()

release_date
2001-01-01    38
2006-01-01    35
2005-01-01    34
2000-01-01    31
2007-01-01    29
2009-01-01    27
2004-01-01    25
2003-01-01    25
2002-01-01    23
2010-01-01    22
2008-01-01    22
1999-01-01    20
2011-01-01    15
2012-01-01    12
2013-01-01     9
2014-01-01     8
2018-01-01     7
1998-01-01     7
1984-01-01     4
1962-01-01     3
2016-01-01     2
1963-01-01     2
1947-01-01     2
1979-01-01     1
1997-01-01     1
1996-01-01     1
2022-01-01     1
2015-01-01     1
1980-01-01     1
1988-01-01     1
1990-01-01     1
1991-01-01     1
1992-01-01     1
1993-01-01     1
1994-01-01     1
1995-01-01     1
1945-01-01     1
Name: count, dtype: int64

In [87]:
# Checking Unique Date format 
tracks["release_date"].unique()

array(['1945', '1947', '1962', ..., '2024-09-12', '2024-09-14',
       '2024-09-19'], dtype=object)

In [ ]:
# Changing datetime format. However, It is the same. 
tracks["release_date"] = pd.to_datetime(tracks["release_date"], errors = "coerce")

In [86]:
# Checking Null data/ There is no null. 
tracks.isnull().sum()

track_id        0
name            0
duration_ms     0
release_date    0
album_type      0
explicit        0
dtype: int64

In [51]:
# artists data cleaning/ checking info first / nothing need to change 
artists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3108 entries, 0 to 3107
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   artist_id   3108 non-null   object
 1   name        3108 non-null   object
 2   popularity  3108 non-null   Int64
 3   followers   3108 non-null   Int64
dtypes: Int64(2), object(2)
memory usage: 103.3+ KB

In [88]:
# tracks_artists_mapping data cleaning/ checking info first / nothing need to change 
tracks_artists_mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15048 entries, 0 to 15047
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   artist_id  15048 non-null  object
 1   track_id   15048 non-null  object
dtypes: object(2)
memory usage: 235.3+ KB

In [89]:
# chart_positions data cleaning/ checking info first / nothing need to change 
chart_positions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129305 entries, 0 to 129304
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   chart_week     129305 non-null  dbdate
 1   list_position  129305 non-null  Int64
 2   track_id       129305 non-null  object
dtypes: Int64(1), dbdate(1), object(1)
memory usage: 3.1+ MB

In [90]:
chart_positions.head(10)

   chart_week  list_position                track_id
0  2021-07-10             42  000TJlEJQ3nafsm1hBWpoj
1  2003-07-19             60  003FTlCpBTM4eSqYSWPv4H
2  2003-07-26             60  003FTlCpBTM4eSqYSWPv4H
3  2003-08-02             64  003FTlCpBTM4eSqYSWPv4H
4  2003-07-12             66  003FTlCpBTM4eSqYSWPv4H
5  2003-08-09             66  003FTlCpBTM4eSqYSWPv4H
6  2003-06-28             67  003FTlCpBTM4eSqYSWPv4H
7  2003-07-05             67  003FTlCpBTM4eSqYSWPv4H
8  2003-06-21             71  003FTlCpBTM4eSqYSWPv4H
9  2003-08-16             85  003FTlCpBTM4eSqYSWPv4H