In [1]:
!pip install google-cloud google-cloud-bigquery google-auth

Requirement already satisfied: google-cloud in /opt/anaconda3/lib/python3.12/site-packages (0.34.0)
Requirement already satisfied: google-cloud-bigquery in /opt/anaconda3/lib/python3.12/site-packages (3.27.0)
Requirement already satisfied: google-auth in /opt/anaconda3/lib/python3.12/site-packages (2.37.0)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.11.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (2.24.0)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=2.4.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (2.7.2)
Requirement already satisfied: packaging>=20.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (24.1)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.3 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (2.32.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth) (4.9)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core<3.0.0dev,>=2.11.1->google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.66.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core<3.0.0dev,>=2.11.1->google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (5.29.2)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core<3.0.0dev,>=2.11.1->google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.25.0)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.69.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.69.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-resumable-media<3.0dev,>=2.0.0->google-cloud-bigquery) (1.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /opt/anaconda3/lib/python3.12/site-packages (from pyasn1-modules>=0.2.1->google-auth) (0.4.8)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil<3.0dev,>=2.7.3->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2024.12.14)

In [2]:
import pandas as pd
import re

In [3]:
!pip install db-dtypes

Requirement already satisfied: db-dtypes in /opt/anaconda3/lib/python3.12/site-packages (1.3.1)
Requirement already satisfied: packaging>=17.0 in /opt/anaconda3/lib/python3.12/site-packages (from db-dtypes) (24.1)
Requirement already satisfied: pandas>=0.24.2 in /opt/anaconda3/lib/python3.12/site-packages (from db-dtypes) (2.2.2)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from db-dtypes) (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in /opt/anaconda3/lib/python3.12/site-packages (from db-dtypes) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.24.2->db-dtypes) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.24.2->db-dtypes) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.24.2->db-dtypes) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.24.2->db-dtypes) (1.16.0)

In [4]:
from google.auth import load_credentials_from_file
from google.cloud.bigquery import Client

In [5]:
credentials, project_id = load_credentials_from_file("/Users/thyneminhtetaungaung/Music Project All file /service_account.json")

In [6]:
credentials

In [7]:
type(credentials)

google.oauth2.service_account.Credentials

In [8]:
project_id

'da26-python'

In [9]:
# load data from BigQuery
client = Client(
    project = project_id,
    credentials = credentials
)

In [10]:
type(client)

google.cloud.bigquery.client.Client

In [11]:
query = "SELECT * FROM `da26-python.music_data.tracks`"

In [12]:
load_job = client.query(query)

In [13]:
data = load_job.to_dataframe()

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [14]:
def load_data(table):
    query = f"SELECT * FROM `da26-python.music_data.{table}`"
    load_job = client.query(query)
    data = load_job.to_dataframe()
    return data

In [15]:
artists = load_data("artists")

In [16]:
artists.head()

,artist_id,name,popularity,followers
0,13UwRaADQI0yTqjPBDkk6d,J-Shin (Featuring LaTocha Scott of Xscape),0,253
1,2LmsYeN3MzzZ9zhuZhNyqO,A*Teens,0,10
2,5Q25oFANw7zA3kD2DPaJ8D,The 2000s Karaoke Band,0,26
3,7u7ORV6MVjId1jfJwMdakL,2000s Karaoke Band,0,27
4,0LyfQWJT6nXafLPZqxe9Of,Various Artists,0,2542450

In [17]:
audio_features = load_data("audio_features")

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [18]:
audio_features.head(10)

,track_id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3lZpvPprN56RWqDqrKy9vl,0.00,0.532,3.0,-7.447,1.0,0.000,0.976,0.000000,0.000,0.0000,0.000,0.0
8,7rLDARtJALM7QdiJDMXW7m,0.25,0.215,8.0,-13.676,0.0,0.037,0.632,0.071700,0.401,0.0746,174.824,3.0
9,4TbNLKRLKlxZDlS0pu7Lsy,0.25,0.136,10.0,-12.162,1.0,0.037,0.673,0.000157,0.107,0.0981,118.086,4.0

In [19]:
audio_features.sample(10)

,track_id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
4208,6aVeSCobcOjIkMFARN9B7l,0.581,0.678,1.0,-6.624,1.0,0.0630,0.05120,0.000000,0.1640,0.284,142.968,4.0
9477,0w3Q14i073jLoew1hgJkwD,0.596,0.833,9.0,-4.308,1.0,0.0474,0.05630,0.000000,0.0866,0.618,115.997,4.0
1019,4HSAJpNocVNJbwbQvtCMdO,0.934,0.706,7.0,-5.317,1.0,0.1780,0.03050,0.000121,0.1360,0.614,112.962,4.0
317,4muwDurKeVOB1WBjTVRWlD,0.732,0.600,6.0,-9.057,0.0,0.2410,0.00385,0.000114,0.1120,0.436,167.973,4.0
1466,7d94IqWX2UmSKMGUYSGFJG,0.654,0.452,7.0,-6.360,1.0,0.0439,0.17000,0.000000,0.1140,0.532,138.034,4.0
3095,3JA9Jsuxr4xgHXEawAdCp4,0.659,0.629,0.0,-8.685,0.0,0.1800,0.19000,0.000000,0.1050,0.262,94.049,4.0
3151,4hnK8P3v7kE7T4PMBYwRhu,0.528,0.856,7.0,-4.605,1.0,0.0351,0.05200,0.000000,0.0988,0.572,87.019,4.0
7003,1zDJ253HHk2TBoaO6nGUxL,0.770,0.731,0.0,-5.083,1.0,0.1210,0.01300,0.002050,0.0165,0.713,160.965,4.0
6241,0ypjMI7vHiDP4sLB1C0Qna,0.699,0.748,4.0,-4.720,0.0,0.2270,0.09990,0.000000,0.5780,0.260,140.006,4.0
9405,0Y0TOsE1q11qgbi7c5WZsG,0.727,0.599,1.0,-6.941,1.0,0.3270,0.31700,0.000000,0.2190,0.386,167.909,3.0

In [20]:
audio_features.tail(10)

,track_id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
10773,1wva1IlWLDNLgwipUWcmjy,0.756,0.829,11.0,-3.973,1.0,0.0682,0.00300,0.000035,0.0578,0.504,120.163,4.0
10774,5Odq8ohlgIbQKMZivbWkEo,0.881,0.592,2.0,-4.898,1.0,0.0324,0.61900,0.000013,0.0901,0.719,101.058,4.0
10775,3wMUvT6eIw2L5cZFG1yH9j,0.881,0.663,2.0,-6.822,1.0,0.0827,0.00683,0.000000,0.1420,0.586,81.374,4.0
10776,0GR7iJLhj80KD5LkA14ZRn,0.881,0.546,2.0,-7.566,1.0,0.1200,0.00296,0.000005,0.2260,0.276,140.032,4.0
10777,7nDtDxsKJ3fho8xEmU65JJ,0.881,0.830,7.0,-4.563,1.0,0.1720,0.01440,0.007710,0.0626,0.765,98.793,4.0
10778,2Ec33AVlkTTq8BHFgBTdQs,0.881,0.457,7.0,-8.191,0.0,0.1560,0.03270,0.000000,0.2310,0.296,136.970,4.0
10779,3KixNgUEaDtrKJVzdqjU5q,0.881,0.636,7.0,-4.629,1.0,0.2870,0.00606,0.000000,0.1110,0.715,163.949,4.0
10780,4ANFPo7dzs2DdPuONXC9bp,0.881,0.549,10.0,-5.589,1.0,0.2720,0.00910,0.000000,0.1370,0.202,144.019,4.0
10781,5wfllwdjglyQislkskYLBv,0.881,0.442,11.0,-6.278,0.0,0.0651,0.48000,0.000009,0.1200,0.803,138.014,4.0
10782,3EikYy40GMSp8l5mDV6IQo,0.881,0.623,1.0,-9.662,1.0,0.1190,0.25700,0.000002,0.0964,0.744,88.953,4.0

In [21]:
chart_positions = load_data("chart_positions")
chart_positions.head(10)

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   chart_week  list_position                track_id
0  2021-07-10             42  000TJlEJQ3nafsm1hBWpoj
1  2003-07-19             60  003FTlCpBTM4eSqYSWPv4H
2  2003-07-26             60  003FTlCpBTM4eSqYSWPv4H
3  2003-08-02             64  003FTlCpBTM4eSqYSWPv4H
4  2003-07-12             66  003FTlCpBTM4eSqYSWPv4H
5  2003-08-09             66  003FTlCpBTM4eSqYSWPv4H
6  2003-06-28             67  003FTlCpBTM4eSqYSWPv4H
7  2003-07-05             67  003FTlCpBTM4eSqYSWPv4H
8  2003-06-21             71  003FTlCpBTM4eSqYSWPv4H
9  2003-08-16             85  003FTlCpBTM4eSqYSWPv4H

In [22]:
tracks = load_data("tracks")
tracks.head(10)

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,track_id,name,duration_ms,release_date,album_type,explicit
0,5CMVGP24paZIukljDj0iWc,Jingle Bells (with The Ken Lane Singers),156666,1945,compilation,False
1,25leEEaz1gIpp7o21Fqyjo,Here Comes Santa Claus (Right Down Santa Claus...,150266,1947,album,False
2,1dtIaSlyrLI04sqYa8nLyN,Rudolph the Red-Nosed Reindeer,186733,1947,album,False
3,4PS1e8f2LvuTFgUs1Cn3ON,The Christmas Song (Merry Christmas To You),192160,1962,album,False
4,4PS1e8f2LvuTFgUs1Cn3ON,The Christmas Song (Merry Christmas To You),192160,1962,album,False
5,4PS1e8f2LvuTFgUs1Cn3ON,The Christmas Song (Merry Christmas To You),192160,1962,album,False
6,5ASM6Qjiav2xPe7gRkQMsQ,Sleigh Ride,181266,1963,compilation,False
7,46pF1zFimM582ss1PrMy68,Christmas (Baby Please Come Home),166453,1963,compilation,False
8,7uyivkbdc8iH8wyBGBhlXV,One More Chance,229000,1979,compilation,False
9,2uX5f3x2cObov0iDAPln4o,Song of the South,190800,1980,album,False

In [23]:
tracks_artists_mapping = load_data("tracks_artists_mapping")
tracks_artists_mapping.head(10)

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

                artist_id                track_id
0               artist_id                track_id
1  00FQb4jTyendYWaN8pK0wa  4zmKGsrXjLmljb5fTaBTot
2  00FQb4jTyendYWaN8pK0wa  6GGtHZgBycCgGBUhZo81xe
3  00FQb4jTyendYWaN8pK0wa  22DH8NChecsgPxDjA4pqer
4  00FQb4jTyendYWaN8pK0wa  7JVNRVPeXFAOdMrxOHNjVv
5  00FQb4jTyendYWaN8pK0wa  24jvD83UgLmrdGjhWTFslY
6  00FQb4jTyendYWaN8pK0wa  2nMeu6UenVvwUktBCpLMK9
7  00FQb4jTyendYWaN8pK0wa  6PUIzlqotEmPuBfjbwYWOB
8  00FQb4jTyendYWaN8pK0wa  5Y6nVaayzitvsD5F7nr3DV
9  00FQb4jTyendYWaN8pK0wa  4VSg5K1hnbmIg4PwRdY6wV

In [24]:
audio_features.shape

(10783, 13)

In [25]:
audio_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10783 entries, 0 to 10782
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_id          10776 non-null  object
 1   danceability      10776 non-null  float64
 2   energy            10776 non-null  float64
 3   key               10776 non-null  float64
 4   loudness          10776 non-null  float64
 5   mode              10776 non-null  float64
 6   speechiness       10776 non-null  float64
 7   acousticness      10776 non-null  float64
 8   instrumentalness  10776 non-null  float64
 9   liveness          10776 non-null  float64
 10  valence           10776 non-null  float64
 11  tempo             10776 non-null  float64
 12  time_signature    10776 non-null  float64
dtypes: float64(12), object(1)
memory usage: 1.1+ MB

In [26]:
audio_features.columns

Index(['track_id', 'danceability', 'energy', 'key', 'loudness', 'mode',
       'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'time_signature'],
      dtype='object')

In [27]:
# checking null data (for all column)
audio_features.loc[audio_features.isnull().any(axis = 1)]

,track_id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# drop NA for 7 rows 
audio_features.dropna(inplace = True)

In [29]:
# Getting new dataset_without NA
audio_features.reset_index(drop = True, inplace = True)

In [30]:
# change data type from floats to int for three column - Key, Mode, Time-Signature
audio_features["key"]= audio_features["key"].astype(int)
audio_features["mode"]= audio_features["mode"].astype(int)
audio_features["time_signature"]= audio_features["time_signature"].astype(int)

In [31]:
#Cleaning Tracks file / Check info first 
tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11070 entries, 0 to 11069
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   track_id      11070 non-null  object
 1   name          11070 non-null  object
 2   duration_ms   11070 non-null  Int64
 3   release_date  11070 non-null  object
 4   album_type    11070 non-null  object
 5   explicit      11070 non-null  boolean
dtypes: Int64(1), boolean(1), object(4)
memory usage: 465.0+ KB

In [32]:
#checking date and count value in Release_date 
tracks["release_date"].value_counts()

release_date
2013-01-01    153
2011-01-01    130
2009-01-01    127
2006-01-01    125
2010-01-01    116
             ...
2013-11-03      1
2013-10-28      1
2013-10-25      1
2013-10-21      1
2024-09-19      1
Name: count, Length: 2440, dtype: int64

In [33]:
# Checking Unique Date format 
tracks["release_date"].unique()

array(['1945', '1947', '1962', ..., '2024-09-12', '2024-09-14',
       '2024-09-19'], dtype=object)

In [34]:
# Changing datetime format. However, It is the same. 
#  tracks["release_date"] = pd.to_datetime(tracks["release_date"], errors = "coerce")

In [35]:
# Checking Null data/ There is no null. 
tracks.isnull().sum()

track_id        0
name            0
duration_ms     0
release_date    0
album_type      0
explicit        0
dtype: int64

In [36]:
# release date data to year colum
def func(item):
    day = item.split("-")
    if len(day) == 1:
        return int(day[0]),0,0
    elif len(day) == 2:
        return int(day[0]), int(day[1]), 0
    else:
        return int(day[0]), int(day[1]), int(day[2])

tracks[["year","month","day"]] = tracks["release_date"].apply(lambda x:pd.Series(func(x)))
print(tracks[["year","month","day"]])

       year  month  day
0      1945      0    0
1      1947      0    0
2      1947      0    0
3      1962      0    0
4      1962      0    0
...     ...    ...  ...
11065  2024     10    1
11066  2024     10    1
11067  2024     10    1
11068  2024     10    4
11069  2024     10   11

[11070 rows x 3 columns]

In [37]:
#Check data info again 
tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11070 entries, 0 to 11069
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   track_id      11070 non-null  object
 1   name          11070 non-null  object
 2   duration_ms   11070 non-null  Int64
 3   release_date  11070 non-null  object
 4   album_type    11070 non-null  object
 5   explicit      11070 non-null  boolean
 6   year          11070 non-null  int64
 7   month         11070 non-null  int64
 8   day           11070 non-null  int64
dtypes: Int64(1), boolean(1), int64(3), object(4)
memory usage: 724.4+ KB

In [38]:
tracks.to_csv("tracks_update.csv")

In [39]:
tracks.month.loc[tracks.month==0]

0       0
1       0
2       0
3       0
4       0
       ..
6914    0
6915    0
6916    0
6917    0
6918    0
Name: month, Length: 416, dtype: int64

In [40]:
tracks.year.loc[tracks.year!=0]

0        1945
1        1947
2        1947
3        1962
4        1962
         ...
11065    2024
11066    2024
11067    2024
11068    2024
11069    2024
Name: year, Length: 11070, dtype: int64

In [41]:
tracks.day.loc[tracks.day!=0]

349       1
350       1
351       1
352      15
353       2
         ..
11065     1
11066     1
11067     1
11068     4
11069    11
Name: day, Length: 10652, dtype: int64

In [42]:
# artists data cleaning/ checking info first / nothing need to change 
artists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3108 entries, 0 to 3107
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   artist_id   3108 non-null   object
 1   name        3108 non-null   object
 2   popularity  3108 non-null   Int64
 3   followers   3108 non-null   Int64
dtypes: Int64(2), object(2)
memory usage: 103.3+ KB

In [43]:
# tracks_artists_mapping data cleaning/ checking info first / nothing need to change 
tracks_artists_mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15048 entries, 0 to 15047
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   artist_id  15048 non-null  object
 1   track_id   15048 non-null  object
dtypes: object(2)
memory usage: 235.3+ KB

In [44]:
# chart_positions data cleaning/ checking info first / nothing need to change 
chart_positions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129305 entries, 0 to 129304
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   chart_week     129305 non-null  dbdate
 1   list_position  129305 non-null  Int64
 2   track_id       129305 non-null  object
dtypes: Int64(1), dbdate(1), object(1)
memory usage: 3.1+ MB

In [45]:
# Merge Data for all data sets. 
master_data = tracks.merge(tracks_artists_mapping, on="track_id").merge(artists, on="artist_id").merge(chart_positions, on="track_id").merge(audio_features, on="track_id")

In [46]:
# Checking dublicate/ how many
master_data.duplicated().sum()

12837

In [47]:
#remove dublicate from combine data
master_data.drop_duplicates(inplace=True)
master_data.reset_index(inplace=True)

In [48]:
# Checking combine dataset information 
master_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175449 entries, 0 to 175448
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             175449 non-null  int64
 1   track_id          175449 non-null  object
 2   name_x            175449 non-null  object
 3   duration_ms       175449 non-null  Int64
 4   release_date      175449 non-null  object
 5   album_type        175449 non-null  object
 6   explicit          175449 non-null  boolean
 7   year              175449 non-null  int64
 8   month             175449 non-null  int64
 9   day               175449 non-null  int64
 10  artist_id         175449 non-null  object
 11  name_y            175449 non-null  object
 12  popularity        175449 non-null  Int64
 13  followers         175449 non-null  Int64
 14  chart_week        175449 non-null  dbdate
 15  list_position     175449 non-null  Int64
 16  danceability      175449 non-null  float64
 17  energy            175449 non-null  float64
 18  key               175449 non-null  int64
 19  loudness          175449 non-null  float64
 20  mode              175449 non-null  int64
 21  speechiness       175449 non-null  float64
 22  acousticness      175449 non-null  float64
 23  instrumentalness  175449 non-null  float64
 24  liveness          175449 non-null  float64
 25  valence           175449 non-null  float64
 26  tempo             175449 non-null  float64
 27  time_signature    175449 non-null  int64
dtypes: Int64(4), boolean(1), dbdate(1), float64(9), int64(7), object(6)
memory usage: 37.1+ MB

In [49]:
# Checking null data in combine data. 
master_data.loc[master_data.isnull().any(axis = 1)]

Empty DataFrame
Columns: [index, track_id, name_x, duration_ms, release_date, album_type, explicit, year, month, day, artist_id, name_y, popularity, followers, chart_week, list_position, danceability, energy, key, loudness, mode, speechiness, acousticness, instrumentalness, liveness, valence, tempo, time_signature]
Index: []

[0 rows x 28 columns]

In [50]:
master_data.rename(columns={'name_x': 'track_name', 'name_y': 'artist_name'}, inplace=True)

In [51]:
master_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175449 entries, 0 to 175448
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             175449 non-null  int64
 1   track_id          175449 non-null  object
 2   track_name        175449 non-null  object
 3   duration_ms       175449 non-null  Int64
 4   release_date      175449 non-null  object
 5   album_type        175449 non-null  object
 6   explicit          175449 non-null  boolean
 7   year              175449 non-null  int64
 8   month             175449 non-null  int64
 9   day               175449 non-null  int64
 10  artist_id         175449 non-null  object
 11  artist_name       175449 non-null  object
 12  popularity        175449 non-null  Int64
 13  followers         175449 non-null  Int64
 14  chart_week        175449 non-null  dbdate
 15  list_position     175449 non-null  Int64
 16  danceability      175449 non-null  float64
 17  energy            175449 non-null  float64
 18  key               175449 non-null  int64
 19  loudness          175449 non-null  float64
 20  mode              175449 non-null  int64
 21  speechiness       175449 non-null  float64
 22  acousticness      175449 non-null  float64
 23  instrumentalness  175449 non-null  float64
 24  liveness          175449 non-null  float64
 25  valence           175449 non-null  float64
 26  tempo             175449 non-null  float64
 27  time_signature    175449 non-null  int64
dtypes: Int64(4), boolean(1), dbdate(1), float64(9), int64(7), object(6)
memory usage: 37.1+ MB

In [52]:
master_data.columns

Index(['index', 'track_id', 'track_name', 'duration_ms', 'release_date',
       'album_type', 'explicit', 'year', 'month', 'day', 'artist_id',
       'artist_name', 'popularity', 'followers', 'chart_week', 'list_position',
       'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'time_signature'],
      dtype='object')